body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
 h1{
    font-size: 40px;
 }

#pp{
    color: rgb(8, 113, 113);
}
.half{
    width: 40%;
    float: left;
    margin:5%;
}
img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.hireme{
   text-decoration: none;
   background-image: linear-gradient(rgb(53, 231, 231),rgb(6, 112, 112));
   padding:10px 20px;
   border-radius: 7px;
   font-weight: 700;
   color: aliceblue;
   
}