body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
 h1{
    font-size: 40px;
 }

.half{
    width: 40%;
    float: left;
    margin-top:5%;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.hireme{
   text-decoration: none;
   background-image: linear-gradient(rgb(53, 231, 231),rgb(6, 112, 112));
   padding:10px 20px;
   border-radius: 7px;
   font-weight: 700;
   color: aliceblue;
   
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.highlight{
    color: rgb(7, 120, 120);
}
.exper{
    text-align: center;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius:10px;
    background-color: white;
    height:340px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#s1t{
 border-left:6.5px solid;
  border-image: linear-gradient(lightSalmon ,tomato);
  border-image-slice:1;
}
#n2d{
    border-left:6.5px solid;
     border-image: linear-gradient(rgb(5, 113, 145) ,rgb(105, 191, 234));
     border-image-slice:1;
   }